/* Default mixins and settings
 * ---------------------------------- */
@import "../template/mixins";
@import "../template/settings";

/* Colors
 * ---------------------------------- */
$white: #ffffff;
$black: #000000;
$green: #A8D4AD;

/* Varibles
 * ---------------------------------- */
$backgroundColor: $green;

$mainColor: $white;
$headingColor: $white;

$mainFontSize: 38px;
$mainFont: 'Quicksand', sans-serif;
$headingFont: 'Quicksand', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $green;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 1.5em;
$heading2Size: 1.3em;
$heading3Size: 1.1em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


/* Theme template
 * ---------------------------------- */
@import "../template/theme";

/* background
 * ---------------------------------- */
body {
    background: $green;
}

/* Typography
 * ---------------------------------- */
.reveal {
    color: $black;

    h1,
    h2 {
        color: $black;
        font-weight: 700;

        a {
            box-shadow: none;
        }
    }

    h1 {
        font-size: 10rem
    }

    h2 {
        font-size: 5rem;
    }

    ul {
        margin: 0;
        padding:0;
        list-style: none;
    }

    a {
        will-change: box-shadow;
        transition: box-shadow .2s ease-in-out;

        box-shadow: 0px 1px 0 0 $black;

        color: $black;
        text-decoration: none;

        &:hover {
            box-shadow: 0px 2px 0 0 $black;

            color: $black;
        }
    }
}

/* Images
 * ---------------------------------- */
.reveal {
    section {
        img {
            width: 100%;
            margin: 0;

            background: none;

            border: none;
            box-shadow: none;
        }
    }
}

/* waveform
 * ---------------------------------- */
 .waveform {
    position: fixed;
    bottom: -2rem;
    left: 0;
    z-index: 2;
 }

 .waveform__path {
    fill: none;

    stroke: $black;
    stroke-width: 30px;
 }

/* Caption
 * ---------------------------------- */
.reveal {
    .caption {
        position: fixed;
        left: 0;
        bottom: 3rem;

        display: none;
        padding: .5rem;

        background: rgba($black, .7);

        color: $white;
        font-size: .8rem;

        &__link {
            box-shadow: 1px 1px 0 0 $white;

            color: $white;
            text-decoration: 0;
        }
    }
}

/* Note
 * ---------------------------------- */
.reveal {
    .note {
        text-align: center;
        font-size: 1rem;
    }
}

/* Emphasis
 * ---------------------------------- */
.reveal {
    .emphasis {
        padding: 0 .2rem;

        background: rgba($white, .2);

        border: 1px solid rgba($white, .4);
    }
}

/* Icons
 * ---------------------------------- */
.icon--mwl {
    display: inline-block;
    width: 2.3rem;
    height: 2.3rem;

    background: transparent url('../../img/madewithlove.svg') 0 .625rem no-repeat;
    background-size: 100%
}

/* Progress
 * ---------------------------------- */
.reveal {
    .progress {
        background: tranparent;

        span {
            background: rgba($black, .4);
        }
    }
}

/* Oscilloscope
 * ---------------------------------- */
.reveal {
    .oscilloscope {
        position: relative;

        width: 100%;
        height: 400px;
        margin: 0 auto 1rem auto;

        border-radius: 10px;

        .oscilloscope__wave {
            fill: none;

            stroke: $white;
            stroke-width: 4px;
        }

        &::before,
        &::after {
            content: '';

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;

            width: 100px;
            height: 100%;

            background: linear-gradient(90deg, $green, rgba($green, 0) 100%);
        }

        &::after {
            left: auto;
            right: 0;

            background: linear-gradient(270deg, $green, rgba($green, 0) 100%);
        }
    }
}

/* Button
 * ---------------------------------- */
.reveal {
    .button {
        will-change: background;
        transition: background .2s ease-in-out;

        display: inline-block;
        padding: .5rem;

        background: rgba($white, .5);

        border: 0;
        border-radius: 5px;

        outline: none;

        color: $black;
        font-size: 1rem;

        cursor: pointer;

        &:hover {
            background: rgba($white, .7);
        }
    }
}

/* Footer
 * ---------------------------------- */
.reveal {
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        height: 1rem;
        padding: 1rem 2rem;

        .link {
            float: left;

            box-shadow: none;

            font-size: 1rem;
            color: $black;

            &--github {
                float: right;
            }
        }
    }
}

/* Playground
 * ---------------------------------- */
.playground {
    display: none;
}

/* Code
 * ---------------------------------- */
.reveal {
    pre {
        background: $white;

        border-radius: 5px;
        box-shadow: none;
    }
}

/* Pedals
 * ---------------------------------- */
.reveal {
    section {
        img.pedal {
            position: absolute;
            right: 0;
            bottom: 0;

            &--distortion {
                transform: translate(25rem, 0) scale(2) rotate(5deg);
            }

            &--delay {
                transform: translate(17rem, 0) scale(2) rotate(5deg);
            }

            &--flanger {
                transform: translate(20rem, 0) scale(2) rotate(5deg);
            }

            &--reverb {
                transform: translate(25rem, 0) scale(2) rotate(5deg);
            }
        }
    }
}

/* Cable
 * ---------------------------------- */
.cable {
    position: absolute;
    left: -1rem;
    bottom: 2.5rem;

    display: none;

    &--visible {
        display: block;
    }
}
